<div class="about">
    <div>
        <h2>About Chaya Yosefi </h2>
        <p>My name is Chaya Yosefi,<br>
            I am 27 years old.<br>
            Mother of 2 cute kids &#128536;&#x2763;<br>
            Works in insurance and during the conversion of a profession to the high-tech field.</p>
            
            <h2>About project </h2>
            <p>The site deals with the field of digital currency <br>
                trading and covers the study material studied so far in the Paul Stack course:
                <ul>
                    <li>JavaScript</li>
                    <li>HTML & Css</li>
                    <li>Bootsrap & Jquery</li>
                    <li>Http Requests and working with APIs</li>
                    <li>Modules</li>
                    <li>Arrays methods & Functions</li>
                    <li>And much much more...</li>
                </ul></p>
                
            </div>
            <img src="/my-picture.png" id="my-picture">
        </div>
        
